body{
    background:#00953c;
    display:flex;
    flex-direction: column;  /* Apila los elementos uno arriba del otro */
    align-items: center;     /* Centra el contenido horizontalmente */
    justify-content: center; /* Centra el contenido verticalmente */
    height:100vh;
}

.fondo {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;

    background-image: url('img/fondo.png');
    background-repeat: no-repeat; /*evita mosaico*/
    background-position: left center; /*cubre el contenedor completo*/
    background-size: cover;
                       /*de izq a der,  hasta donde se ve al 100, cuanto desaparece*/
    mask-image: linear-gradient(to right, black 40%, transparent 100%);
    -webkit-mask-image: linear-gradient(to right, black 40%, transparent 100%);
}

.fondo::before {
    content: '';
    position: absolute;
    inset: 0;      /* top, right, bottom, left = 0 */
    background: #00953cce;
}
.logo{
    position:relative;
    width:13%;
    height: 23%;
    border-radius: 10%;
    margin-bottom: 3%;
    box-shadow: 25px 25px 5px rgba(0, 0, 0, 0.342);
}
.container{
    background:rgb(255, 255, 255);
    padding: 2%;
    border-radius:10%;
    width:35%;
    box-shadow: 25px 25px 5px rgba(0, 0, 0, 0.342);
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.NombreInicio{
    text-align:center;
    color:#000000;
}
.TextoInicio {
    text-align:center;
    margin-bottom:20px;
    color:#000000;
}
.sanguche{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}
/* Historia A1 */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}
input{
    width:100%;
    padding:12px;
    margin-bottom:15px;
    border:1px solid #ccc;
    border-radius:5px;
}

button{
    width:100%;
    padding:12px;
    border:none;
    background:#2d77c7;
    color:white;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#0056b3;
}

#mensaje{
    text-align:center;
    margin-top:10px;
    font-weight:bold;
}

a{
    display:block;
    text-align:center;
    margin-top:15px;
}

/* historia A3 */
textarea{
    width:100%;
    padding:12px;
    border:1px solid #ccc;
    border-radius:5px;
    margin-bottom:15px;
    resize:none;
}

/* historia A4 */
select{
    width:100%;
    padding:12px;
    margin-bottom:15px;
    border:1px solid #ccc;
    border-radius:5px;
}

/* historia A5 */
header{
    background:#007bff;
    color:white;
    padding:20px;
    text-align:center;
}

.productos{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
    padding:20px;
}

.card{
    width:250px;
    background:white;
    border-radius:10px;
    overflow:hidden;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.card img{
    width:100%;
    height:250px;
    object-fit:cover;
}

.info{
    padding:15px;
}

.info h3{
    margin-bottom:10px;
}


.info span{
    background:#007bff;
    color:white;
    padding:5px 10px;
    border-radius:5px;
}

/*Logo*/



/*Logo header*/
.logo-header{
    width:80px;
    display:block;
    margin:0 auto 10px;
    border-radius:15px;
}

.contenedor-catalogo {
    position: absolute;
    top: 5%;
    max-width: 1200px;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}